{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ note.data }}
          <div>
            <small class="text-muted">{{ note.date }}</small>
            <button type="button" class="close ml-2" onclick="deleteNote('{{note.id}}')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </li>
      {% endfor %}
  </ul>
  <form method="post">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
      <button type="submit" class="btn btn-primary">Add note</button>
    </div>
  </form>
{% endblock %}